In [1]:
import pandas as pd
import datetime

In [19]:
done_data = pd.read_csv('done_data.csv')

In [20]:
done_data.head()

,Unnamed: 0,datadate,tic,adjcp,open,high,low,volume,macd,rsi,cci,adx,turbulence
0,0,20090102,AAPL,12.964286,12.268571,13.005714,12.165714,26641980.0,0.0,100.0,66.666667,100.0,0.0
1,1,20090102,AXP,19.330000,18.570000,19.520000,18.400000,10955620.0,0.0,100.0,66.666667,100.0,0.0
2,2,20090102,BA,45.250000,42.800000,45.560000,42.780000,7010171.0,0.0,100.0,66.666667,100.0,0.0
3,3,20090102,CAT,46.910000,44.910000,46.980000,44.710000,7116726.0,0.0,0.0,66.666667,100.0,0.0
4,4,20090102,CSCO,16.960000,16.410000,17.000000,16.250000,40977480.0,0.0,100.0,66.666667,100.0,0.0

In [21]:
val_datadate = done_data[(done_data.datadate > 20151001)&(done_data.datadate <= 20200707)].datadate.unique()
full_datadate = done_data.datadate.unique()

In [26]:
print(val_datadate.shape, full_datadate.shape, val_datadate.shape[0]/63, full_datadate.shape[0]/63)

(1198,) (2926,) 19.015873015873016 46.44444444444444

In [22]:
val_datadate_months = pd.Series(val_datadate//100).unique()
full_datadate_months = pd.Series(full_datadate//100).unique()

In [27]:
print(val_datadate_months.shape, full_datadate_months.shape, val_datadate_months.shape[0]/63, full_datadate_months.shape[0]/63)

(58,) (140,) 0.9206349206349206 2.2222222222222223

In [2]:
crypto_data = pd.read_csv('./data/crypto_full_data.csv')

In [30]:
crypto_data.datadate.unique().max()

20220131

In [31]:
crypto_data.datadate.unique().min()

20200610

In [32]:
crypto_data.datadate.unique().min() > 20200600

True

In [3]:
crypto_data.tic.unique()

array(['ADA', 'AVAX', 'BNB', 'BTC', 'DOT', 'ETH', 'LINK', 'LTC', 'VET'],
      dtype=object)

In [6]:
crypto_data.groupby('tic').count()

      Unnamed: 0  datadate  prccd  ajexdi  prcod  prchd  prcld  cshtrd
tic
ADA          601       601    601     601    601    601    601     601
AVAX         497       497    497     497    497    497    497     497
BNB          601       601    601     601    601    601    601     601
BTC          601       601    601     601    601    601    601     601
DOT          532       532    532     532    532    532    532     532
ETH          601       601    601     601    601    601    601     601
LINK         601       601    601     601    601    601    601     601
LTC          601       601    601     601    601    601    601     601
VET          601       601    601     601    601    601    601     601

In [10]:
crypto_fuller = crypto_data[crypto_data.tic.apply(lambda x: x in ['ADA', 'BNB', 'BTC', 'ETH', 'LINK', 'LTC', 'VET'])]

In [11]:
crypto_fuller.head()

,Unnamed: 0,datadate,tic,prccd,ajexdi,prcod,prchd,prcld,cshtrd
0,0,20200610,ADA,0.08360,1.0,0.08170,0.08399,0.08060,118268742.7
1,1,20200611,ADA,0.07527,1.0,0.08360,0.08512,0.07300,523976380.0
2,2,20200612,ADA,0.07948,1.0,0.07527,0.08090,0.07497,323950725.0
3,3,20200613,ADA,0.07906,1.0,0.07948,0.07959,0.07700,161240000.7
4,4,20200614,ADA,0.07642,1.0,0.07909,0.07918,0.07561,135355914.6

In [12]:
crypto_fuller.tic.unique()

array(['ADA', 'BNB', 'BTC', 'ETH', 'LINK', 'LTC', 'VET'], dtype=object)

In [13]:
crypto_fuller.to_csv('./data/crypto_only_full.csv')